.contentNotas {
  padding: 35px;
  border-radius: 25px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.disciplinaContainer {
  background-color: var(--var-color-white-background);
  border-radius: 20px;
  padding: 25px 50px 25px 34px;
  height: -webkit-fill-available;
}

.disciplinaTopics {
  display: flex;
  justify-content: space-between;
}

.notas {
  display: flex;
  justify-content: space-between;
  gap: 45px;
}

.notas h2 {
  padding: 0 14px;
}

.disciplinaTopicsTitle {
  margin-left: 16px;
}

.notasRow {
  display: flex;
  justify-content: space-between;

  margin-top: 16px;
}

.disciplina {
  background-color: white;
  padding: 8px 16px;
  border-radius: 16px;
  margin-right: 16px;
}

.disciplinaTitle {
  margin-right: 16px;
  width: 480px;
}

.notasValues {
  display: flex;
  gap: 45px;
}

.notaCard {
  background-color: white;
  border-radius: 16px;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mediaFinal {
  background-color: white;
  border-radius: 16px;
  padding: 0 65px;

  display: flex;
  align-items: center;
  justify-content: center;
}
