.contentHome h1 {
  font: 600 42px var(--main-font);
}

.contentHome h2 {
  font: 500 20px var(--main-font);
}

.contentHome strong {
  font-weight: 600;
  color: var(--var-color-red-fatec);
}

.contentHome {
  padding: 40px;
  border-radius: 25px;
  display: flex;
  width: 100%;
  /* height: calc(100vh - 140px); */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
