* {
  margin: 0;
}

.content h1 {
  font: 600 42px var(--main-font);
}

.content h2 {
  font: 500 20px var(--main-font);
}

.content strong {
  font-weight: 600;
  color: var(--var-color-red-fatec);
}

.content {
  padding: 40px;
  border-radius: 25px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
